@import '../../styles/global.scss';

.biodata {
  @include centerFlexColumn;
  &Pic {
    @include centerFlexRow;
    margin-bottom: 2rem;
    p,
    h3 {
      margin: 0;
    }
    &Left {
      position: relative;
      margin-right: 2rem;
      @include centerFlexColumn;
      img {
        border-radius: 60px;
        width: 120px;
      }
      .inputPic {
        position: absolute;
        color: transparent;
        bottom: 8%;
        left: 40%;

        &::-webkit-file-upload-button {
          display: none;
        }
        &::before {
          content: 'Edit';
          color: black;
          // display: inline-block;
          // background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
          // border: 1px solid #999;
          // border-radius: 3px;
          // padding: 5px 8px;
          // outline: none;
          // white-space: nowrap;
          -webkit-user-select: none;
          user-select: none;
          cursor: pointer;
          font-weight: 500;
          font-size: 10pt;
        }
        &:active {
          outline: 0;
        }
        &:hover::before {
          border-color: black;
        }
      }
    }
    &Right {
      h3,
      p {
        margin: 0;
      }
      h3 {
        font-size: 1.25rem;
      }
      p {
        margin-bottom: 1rem;
      }
      &Buttons {
        @include centerFlexRow;
        justify-content: flex-start;
        gap: 1.5rem;
      }
    }
  }
  &Data {
    @include centerFlexColumn;
    gap: 10px;
    margin-bottom: 1rem;
    &Name {
      @include centerFlexRow;
      gap: 1rem;
    }
  }
}
