@import '../global.scss';

.capture {
  margin-top: 5rem;
  @include centerFlexColumn;
  justify-content: flex-start;
  height: 650px;
  gap: 1.5rem;
  &Title {
    font-weight: 700;
    span {
      display: block;
      text-align: center;
      color: $primaryBtnActive;
    }
  }
}
